@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
         
         .cadastro  {
             
         
        
         
         
         }
         
         .div-cadastro  {
             margin: 0 auto;
             width:40%; /* Altere para o valor da largura desejada. */
             box-shadow: 1px 1px 17px 1px #7a8383;
             font-family: 'Raleway', sans-serif;
             background-color: white;
             padding: 20px;
             
             margin-bottom: 70px;
             font-size:2px;
      
         }
         
         .cadastrotriagem {
                 display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
             margin: 0 auto;
             width:80%; /* Altere para o valor da largura desejada. */
             box-shadow: 1px 1px 17px 1px #7a8383;
             font-family: 'Raleway', sans-serif;
             background-color: white;
             padding: 20px;
             margin-top: 3px;
             margin-bottom: 10px;
             align-content: center;
             
         }
         .select-invalido {
             border: 2px solid #FF0000;
             
             background-color: #d9d9d9; 
             height: 60%;
             
         }
         select {
             border: none;
             background-color: #d9d9d9; 
             height: 60%;
         }
         h3 {
         
         font-size: 30px;
         width: 100%;
         }
         .cadastro button {
         width: 100%;}
         .cadastro form {
 
         }
         
        form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
             
         }
         
         .input-invalido {
             border: 2px solid #FF0000;
             font-size: 22px;
             background-color: #d9d9d9;
             
         }
         
         input {
             border: none;
             font-size: 22px;
             background-color: #d9d9d9;
         }
         #nome {

}
         
         #rg {

}
         
         #datanasc {

}
         
         textarea {
         resize: none;
         border: none;
         width: 100%;
         background-color: #d9d9d9;
         font-size: 22px;}
         
         
         
         label {
         margin-bottom: 0; /* Remove a margem na parte inferior da label */
         font-family: 'Raleway', sans-serif;
         font-size: 90%;
         }
         
         .botaotriagem {
             border: none;
             background-color: var(--azul);
             height: 50px;
             width: 100%;
         }
         
         .dropdown {
         position: relative;
         display: inline-block;
         }
         .dropbtn {
         background-color: #f9f9f9;
         padding: 10px 20px;
         font-size: 16px;
         border: none;
         cursor: pointer;
         }
         .dropdown-content {
         display: none;
         position: absolute;
         background-color: #f9f9f9;
         min-width: 160px;
         box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
         z-index: 1;
         }
         .dropdown-content img {
         width: 15px; /* ou qualquer outra unidade que você preferir */
         height: 15px;
         }
         .dropdown-content a {
         padding: 5px 10px;
         text-decoration: none;
         font-size: 20px;
         display: block;
         }
         .dropdown-content a:hover {
         background-color: #f1f1f1;
         }
         .dropdown:hover .dropdown-content {
         display: block;
         }
         
         #labelataamo {
             margin: 1%;
             display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
             
         }
         
         label {
         margin: 1%;
         }
         
         #urgenciaa {
             color: white;
             border-width: 6px;
             border-style: solid;
             background-color: red;
             border-color: red;
             border-radius: 10px;
         }
         
         #socorrodeus {
             padding-top: 5px;
         }