/* 
    Created on : 23 de out. de 2023, 10:58:43
    Author     : Aluno
*/

:root {
    --azul: rgb(44, 182, 248);
    --cinza: rgb(221 218 218);
    --fonte-principal: 'Raleway', sans-serif;
}


#frm {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--fonte-principal);
}
main {
}

#containerwt {
    background-color: white;
    margin: 25px;
    box-shadow: 1px 1px 17px 1px #7a8383;
    padding: 15px;
}

#dados-principais {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
#dados-principais input {
    border-radius: 0px;
    border: none;
    height: 60%;
}


#att-dados {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 18px;
}
#nome-att {
    width: 100%;
}
#nome-att input {
    width: 100%;
}

#cpf-att {
    width: 45%;
}
#cpf-att input {
    width: 100%;
}

#data-nascimento-att {
    width: 45%;
}
#data-nascimento-att input {
    width: 100%;
}

#endereco-att {
    width: 100%;
}
#endereco-att input {
    width: 100%;
}

#dados-principais label {
    margin: 1vh 0px;
}

#atualiza-cadastro {
    background-color: var(--azul);
    border-radius: 0px;
    padding: 2vh 3vw;
    border: none;
    font-size: 30px;
    margin: auto auto;
    flex-wrap: wrap;
    font-family: var(--fonte-principal);
}
#btn-voltar {
    background-color: var(--azul);
    padding: 2vh 3vw;
    border-radius: 0px;
    border: none;
    font-size: 30px;
    margin: auto auto;
}
#btn-delete {
    background-color: var(--azul);
    padding: 2vh 3vw;
    border-radius: 0px;
    border: none;
    font-size: 30px;
    margin: auto auto;
}
#btn-delete:hover,
#btn-voltar:hover {
    cursor: pointer;
}
#att-btn {
    margin: 30px auto;
}
#pron {
    padding: 20px 0px;
}
#dados-secundarios {
    display: flex;
    width: 40%;
    flex-direction: column;
    margin: 5px 0px;
}
#dados-secundarios label {
    margin: 1vh 0px;
}
#dados-secundarios input {
    border-radius: 0px;
    border: none;
    height: 60%;
}
#rg-att {
    width: 100%;
}
#rg-att input {
    width: 100%;
}
#tel-att {
    width: 100%;
}
#tel-att input {
    width: 100%;
}


#pron .mensagem-erro,
#pron .mensagem-sucesso {
    width: fit-content;
}

#att-dados .secao-oculta {
    display: none;
}
#att-dados .btn-secao {
    cursor: pointer;
    padding: 5px 10px;
}
#att-dados input  {
    background-color: var(--cinza);
}
#menu-att-paciente {
    width: fit-content;
    white-space: nowrap;
    margin: 5px 0px;
}
#dados-gerais {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.secao-sel {
    margin: 5px auto;
    border-left: 1px var(--cinza) solid;
    padding: 0px 0px 16px 0px;
    width: 100%;
}
.btn-secao.selected {
    background-color: var(--cinza);
}

/* prontuario */
#container-form-prontuario {
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
}
#form-prontuario {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: var(--fonte-principal);
    justify-content: space-between;
}
#title-pron {
    width: 70%;
}
#title-pron input {
    width: 90%;
}
#categoria-pron {
    width: 25%;
}
#categoria-pron select {
    width: 100%;
}
#desc-pron {
    margin-top: 15px;
    width: 100%;
}
#desc-pron textarea {
    width: 100%;
    resize: none;
    height: 18vh;
}
#title-pron input,
#categoria-pron select,
#desc-pron textarea {
    background-color: var(--cinza);
    border: none;
}
#title-pron input,
#categoria-pron select {
    height: 30px;
}
#cont-btn-pron-registrar {
    display: flex;
    flex-direction: row;
    justify-content: end;
}
#cont-btn-pron-registrar button {
    padding: 5px;
    font-size: 22px;
    font-family: var(--fonte-principal);
    background-color: var(--azul);
    border: none;
}

.reg-exib-art {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid var(--cinza);
    padding: 3px 10px 8px 10px;
    justify-content: space-between;
}
.reg-exib-title {
    width: 70%;
    font-size: 18px;
    padding: 0px 5px;
}
.reg-exib-data {
    font-size: 14px;
}
.reg-exib-tipo {
    font-size: 14px;
}
.reg-exib-desc {
    width: 100%;
}